<!DOCTYPE html>
<html>
<head>
    <!-- <title>Random Questions</title> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,intial-scale=1.0">
    <title>Computer Programming</title>
    <link rel="stylesheet" href="/public/css/style4.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <h1>Questions on C Programming</h1>
    <ul>
        <% questions.forEach(function(question) { %>
            <li>
                <div class="quiz-header">
                <h2 id="question"><%= question.text %></h2>
                <ul>
                    <% question.options.forEach(function(option) { %>
                        <li type="radio">
                            
                            <%= option.text %>
                        </li>
                    <% }); %>
                </ul>
                </div>
            </li>
        <% }); %>
    </ul>
</body>
</html>
