body{
    background-image: url('../images/img5.jpg');
    background-size: contain;
    
}

.card{
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(70px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);;
    color:#000;
    border-radius: 10px;
}

