@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    min-height: 100vh;
    background: #8B4513 no-repeat;
    background-size: cover;
    background-position: center;   
   
}

.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 270px;
    height: 100vh;
    padding: 0 1.7rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background-color: #E1C16E;
}

.logo{
    height: 80px;
    padding: 16px;
}

.menu{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li{
    padding: 1rem;
    padding-bottom: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.menu li:hover, .active{
    background-color: #C19A6B;
}

.menu a{
    color: #8B4513;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu a span{
    overflow: hidden;
}

.menu a i{
    font-size: 1.2rem;
}

.logout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%
}

.main-content{
    position: relative;
    background-color:  #8B4513;
    width: 100%;
    padding: 1rem;
}

.header-wrappper {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #E1C16E;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.header-title{
    color: #8B4513;
}

.wrapper{
    width: 420px;
    height : 450px;
    margin-left: 5%;
    background:  transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(150px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);;
    color:#fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
    color: #E1C16E;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;   
}

.wrapper .form-group {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #C19A6B;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
  }

.student{
    width: 420px;
    height : 380px;
    margin-top: -35%;
    margin-left: 65%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(100px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);;
    color:#fff;
    border-radius: 10px;
    padding: 30px 40px;
    position: relative;
    top: 5;

}

.student h1{
    font-size: 36px;
    text-align: center;
    color: #E1C16E;
}

.student .form-group {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.student .btn {
    width: 100%;
    height: 45px;
    background: #C19A6B;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
  }

